<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleLocalizations</key>
	<array>
		<string>ja</string>
	</array>
	<key>GADApplicationIdentifier</key>
	<string>ca-app-pub-8612407904037286~2238407996</string>
	<key>GADIsManagerApp</key>
	<true/>
	<key>SKAdNetworkIdentifier</key>
	<array>
		<string>cstr6suwn9.skadnetwork</string>
		<string>4fzdc2evr5.skadnetwork</string>
	</array>
</dict>
</plist>
